.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(176, 123, 255, 0.6);  /* 배경색을 투명도 있게 설정 */
    background-image: url("../public/header.svg");  /* 배경 이미지 추가 */
    background-size: cover;  /* 이미지 크기를 요소에 맞게 자동 조정 */
    background-position: center;  /* 배경 이미지 위치를 가운데로 설정 */
    background-repeat: no-repeat;  /* 배경 이미지가 반복되지 않도록 설정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* 로고 및 내 정보/게시판 영역 스타일 */
.header-left {
    display: flex;
    align-items: center;
}

.logo img {
    height: 90px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.nav-links span {
    font-size: 16px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links span:hover {
    color: #d4c2ff;
    text-decoration: underline;
}

/* 로그인/로그아웃 텍스트 스타일 */
.header-right {
    margin-right: 100px;
}

.login-text {
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;  /* 모든 스타일에 대한 애니메이션 효과 */
}

.login-text:hover {
    color: #003d80;  /* 텍스트 호버 시 색상 변경 */
    text-decoration: underline;
    transform: translateY(-3px);  /* 호버 시 텍스트가 살짝 위로 올라가는 효과 */
}
